.message-container{
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.profile-pic{
    width: 100%;
    height: 3rem;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
}



.message-view{
    width: 89%;
    height: auto;
    min-height: 3rem;
    background-color: transparent;
    color: rgb(94, 94, 94);
    display: flex;
    align-items: flex-start;
    font-family: 'Instrument Sans', sans-serif;
    line-height: 1.6rem;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.report-div{
    width: 90%;
    height: 3rem;
    display: flex;
    align-items: flex-start;
}

.report-div button{
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 5px;
}

.report-div button i{
    font-size: 15px;
    color: rgb(88, 88, 88);
}

.report-div button i:hover{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.space-message{
    height: 5rem;
    width: 100%;
}

.user-photos{
    width: 2rem;
    height: 2rem;
    background-image: url(prof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 500px;
    margin-right: 0.7rem;
}

.mentality-photos{
    width: 2rem;
    height: 2rem;
    background-image: url(ment2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 500px;
    margin-right: 0.7rem;
}

.feedback-div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}